
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@Html.ActionLink("Automatic Properties", "AutoProperty")</p>
        <p>@Html.ActionLink("Object Initializer", "CreateProduct")</p>
        <p>@Html.ActionLink("Collection Initializer", "CreateCollection")</p>
        <p>@Html.ActionLink("Class Extension Methods", "UseExtension")</p>
        <p>@Html.ActionLink("Interface Extension Methods", "UseExtensionEnumerable")</p>
        <p>@Html.ActionLink("Filter with Extension Methods", "UseFilterExtensionMethod")</p>
        <p>@Html.ActionLink("Lambda and Delegate Filters", "UseLambdaFilter")</p>
        <p>@Html.ActionLink("Anonymous Types and Arrays", "CreateAnonArray")</p>
        <p>@Html.ActionLink("Using LINQ", "FindProducts")</p>
    </div>
</body>
</html>
